<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611962352865-qsbvi1qfvfsdjrbkof3835qiil299fj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611962352865-qsbvi1qfvfsdjrbkof3835qiil299fj3</string>
	<key>API_KEY</key>
	<string>AIzaSyAk2Xpk9OpJE2Zu6563pMVHCZlLfu4ggE0</string>
	<key>GCM_SENDER_ID</key>
	<string>611962352865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.URecycle</string>
	<key>PROJECT_ID</key>
	<string>urecycle-83c98</string>
	<key>STORAGE_BUCKET</key>
	<string>urecycle-83c98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611962352865:ios:0e9d1ece85c5bfeace73a0</string>
	<key>DATABASE_URL</key>
	<string>https://urecycle-83c98.firebaseio.com</string>
</dict>
</plist>